force-app/main/default/flows/Product_Family.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Product_code_Value_Bike</name>
        <label>Assign Product code Value Bike</label>
        <locationX>578</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bike - {!Auto_Number_Record.Bike__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Previous_Product_Family_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_code_value_car</name>
        <label>Assign Product code value car</label>
        <locationX>1898</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Car - {!Auto_Number_Record.Car__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Previous_Product_Family_Value_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Product_code_Value_Truck</name>
        <label>Assign Product code Value Truck</label>
        <locationX>3218</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Truck - {!Auto_Number_Record.Truck__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Previous_Product_family_value_Truck_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Product_code_Value_Bike</name>
        <label>Copy 1 of Assign Product code Value Bike</label>
        <locationX>50</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bike -00{!Auto_Number_Record.Bike__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Previous_Product_Family_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Product_code_value_car</name>
        <label>Copy 1 of Assign Product code value car</label>
        <locationX>1370</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Car - 00{!Auto_Number_Record.Car__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Previous_Product_Family_Value_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Product_code_Value_Truck</name>
        <label>Copy 1 of Assign Product code Value Truck</label>
        <locationX>2690</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Truck - 00{!Auto_Number_Record.Truck__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Previous_Product_family_value_Truck_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Product_code_Value_Bike</name>
        <label>Copy 2 of Assign Product code Value Bike</label>
        <locationX>314</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Bike - 0{!Auto_Number_Record.Bike__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Previous_Product_Family_value</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Product_code_value_car</name>
        <label>Copy 2 of Assign Product code value car</label>
        <locationX>1634</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Car - 0{!Auto_Number_Record.Car__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Previous_Product_Family_Value_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Product_code_Value_Truck</name>
        <label>Copy 2 of Assign Product code Value Truck</label>
        <locationX>2954</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Truck - 0{!Auto_Number_Record.Truck__c}</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Previous_Product_family_value_Truck_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease_Auto_Number_record_of_Bike</name>
        <label>Decrease Auto Number record of Bike</label>
        <locationX>4010</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Auto_Number_Record.Bike__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease_Auto_Number_record_of_Car</name>
        <label>Decrease Auto Number record of Car</label>
        <locationX>4274</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Auto_Number_Record.Car__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease_Auto_Number_record_of_Truck</name>
        <label>Decrease Auto Number record of Truck</label>
        <locationX>4538</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Auto_Number_Record.Truck__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease_Bike_Auto_Number_Record</name>
        <label>Decrease Bike Auto Number Record</label>
        <locationX>1502</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Auto_Number_Record.Bike__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease_bike_auto_number_record_2</name>
        <label>Decrease bike auto number record 2</label>
        <locationX>2822</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Auto_Number_Record.Bike__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease_Car_Auto_number_record</name>
        <label>Decrease Car Auto number record</label>
        <locationX>182</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Auto_Number_Record.Car__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease_Car_Auto_Number_Record_2</name>
        <label>Decrease Car Auto Number Record 2</label>
        <locationX>3086</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Auto_Number_Record.Car__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease_Truck_Auto_number_record</name>
        <label>Decrease Truck Auto number record</label>
        <locationX>446</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Auto_Number_Record.Truck__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Decrease_Truck_Auto_Number_Record_1</name>
        <label>Decrease Truck  Auto Number Record 1</label>
        <locationX>1766</locationX>
        <locationY>1163</locationY>
        <assignmentItems>
            <assignToReference>Auto_Number_Record.Truck__c</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Product_name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Auto_number_Record_of_Bike</name>
        <label>Increase Auto number Record of Bike</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Auto_Number_Record.Bike__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>pattern</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Auto_Number_Record_of_Car</name>
        <label>Increase Auto Number Record of Car</label>
        <locationX>1766</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Auto_Number_Record.Car__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_pattern</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Auto_Number_Record_Of_Truck</name>
        <label>Increase Auto Number Record Of Truck</label>
        <locationX>3086</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Auto_Number_Record.Truck__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_pattern</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Null_output</name>
        <label>Null output</label>
        <locationX>4406</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Product_Code__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Null</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Previous_Product_Family_Value_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Product_name</name>
        <label>Product name</label>
        <locationX>2899</locationX>
        <locationY>1523</locationY>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Product_Family__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_Auto_Number_Record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_current_Product_Family_value</name>
        <label>Check current Product Family value</label>
        <locationX>2899</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Product_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bike</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bike</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_previous_value_of_Product_Family_For_Bike</targetReference>
            </connector>
            <label>Bike</label>
        </rules>
        <rules>
            <name>car</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Car</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_previous_value_of_Product_Family_For_Car</targetReference>
            </connector>
            <label>car</label>
        </rules>
        <rules>
            <name>Truck</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Truck</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Previous_value_of_Product_Family_for_Truck</targetReference>
            </connector>
            <label>Truck</label>
        </rules>
        <rules>
            <name>Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product_Family__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Null_output</targetReference>
            </connector>
            <label>Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Product_Family_value</name>
        <label>Check Previous Product Family value</label>
        <locationX>446</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Product_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Car1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Car</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrease_Car_Auto_number_record</targetReference>
            </connector>
            <label>Car1</label>
        </rules>
        <rules>
            <name>Truck1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Truck</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrease_Truck_Auto_number_record</targetReference>
            </connector>
            <label>Truck1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Product_Family_Value_1</name>
        <label>Check Previous Product Family Value 1</label>
        <locationX>1766</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Product_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bike_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bike</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrease_Bike_Auto_Number_Record</targetReference>
            </connector>
            <label>Bike 1</label>
        </rules>
        <rules>
            <name>Truck_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Truck</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrease_Truck_Auto_Number_Record_1</targetReference>
            </connector>
            <label>Truck 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Product_Family_Value_2</name>
        <label>Check Previous Product Family Value 2</label>
        <locationX>4406</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Product_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bike_old</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bike</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrease_Auto_Number_record_of_Bike</targetReference>
            </connector>
            <label>Bike old</label>
        </rules>
        <rules>
            <name>Car_old</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Car</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrease_Auto_Number_record_of_Car</targetReference>
            </connector>
            <label>Car old</label>
        </rules>
        <rules>
            <name>Truck_old</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Truck</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrease_Auto_Number_record_of_Truck</targetReference>
            </connector>
            <label>Truck old</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_Product_family_value_Truck_2</name>
        <label>Check Previous Product family value Truck 2</label>
        <locationX>3086</locationX>
        <locationY>1055</locationY>
        <defaultConnector>
            <targetReference>Product_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>bick_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bike</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrease_bike_auto_number_record_2</targetReference>
            </connector>
            <label>bick 2</label>
        </rules>
        <rules>
            <name>car_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Car</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decrease_Car_Auto_Number_Record_2</targetReference>
            </connector>
            <label>car 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_previous_value_of_Product_Family_For_Bike</name>
        <label>Check previous value of Product Family For Bike</label>
        <locationX>820</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Product_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Product_Family_value_is_different</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Product_Family__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_Auto_number_Record_of_Bike</targetReference>
            </connector>
            <label>Previous Product Family value is different</label>
        </rules>
        <rules>
            <name>Previous_Product_Family_value_is_Same</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Product_Family__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_name</targetReference>
            </connector>
            <label>Previous Product Family value is Same</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_previous_value_of_Product_Family_For_Car</name>
        <label>Check previous value of Product Family For Car</label>
        <locationX>2140</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Product_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_Product_Family_value_is_Different_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Product_Family__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_Auto_Number_Record_of_Car</targetReference>
            </connector>
            <label>Previous Product Family value is Different 1</label>
        </rules>
        <rules>
            <name>Previous_Product_Family_value_is_Same_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Product_Family__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_name</targetReference>
            </connector>
            <label>Previous Product Family value is Same 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Previous_value_of_Product_Family_for_Truck</name>
        <label>Check Previous value of Product Family for Truck</label>
        <locationX>3460</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Product_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Previous_product_family_value_is_different_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Family__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Product_Family__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increase_Auto_Number_Record_Of_Truck</targetReference>
            </connector>
            <label>Previous product family value is different 2</label>
        </rules>
        <rules>
            <name>Previous_product_family_value_is_same_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Product_Family__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Product_Family__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Product_name</targetReference>
            </connector>
            <label>Previous product family value is same 2</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_pattern</name>
        <label>Copy 1 of pattern</label>
        <locationX>1766</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Check_Previous_Product_Family_Value_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_less_than_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Auto_Number_Record.Car__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Product_code_value_car</targetReference>
            </connector>
            <label>Copy 1 of less than 10</label>
        </rules>
        <rules>
            <name>Copy_1_of_greater_than_9_and_less_than_99</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Auto_Number_Record.Car__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Auto_Number_Record.Car__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>99.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Product_code_value_car</targetReference>
            </connector>
            <label>Copy 1 of greater than 9 and less than 99</label>
        </rules>
        <rules>
            <name>Copy_1_of_greater_than_99</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Auto_Number_Record.Car__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>99.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_code_value_car</targetReference>
            </connector>
            <label>Copy 1 of greater than 99</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_pattern</name>
        <label>Copy 2 of pattern</label>
        <locationX>3086</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Check_Previous_Product_family_value_Truck_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_less_than_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Auto_Number_Record.Truck__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Product_code_Value_Truck</targetReference>
            </connector>
            <label>Copy 2 of less than 10</label>
        </rules>
        <rules>
            <name>Copy_2_of_greater_than_9_and_less_than_99</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Auto_Number_Record.Truck__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Auto_Number_Record.Truck__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>99.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Product_code_Value_Truck</targetReference>
            </connector>
            <label>Copy 2 of greater than 9 and less than 99</label>
        </rules>
        <rules>
            <name>Copy_2_of_greater_than_99</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Auto_Number_Record.Truck__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>99.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_code_Value_Truck</targetReference>
            </connector>
            <label>Copy 2 of greater than 99</label>
        </rules>
    </decisions>
    <decisions>
        <name>pattern</name>
        <label>pattern</label>
        <locationX>446</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Check_Previous_Product_Family_value</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>less_than_10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Auto_Number_Record.Bike__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>10.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Product_code_Value_Bike</targetReference>
            </connector>
            <label>less than 10</label>
        </rules>
        <rules>
            <name>greater_than_9_and_less_than_99</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Auto_Number_Record.Bike__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>9.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Auto_Number_Record.Bike__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>99.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Product_code_Value_Bike</targetReference>
            </connector>
            <label>greater than 9 and less than 99</label>
        </rules>
        <rules>
            <name>greater_than_99</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Auto_Number_Record.Bike__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>99.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Product_code_Value_Bike</targetReference>
            </connector>
            <label>greater than 99</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Product Family {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product Family 3</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Auto_Number_Record</name>
        <label>Auto Number Record</label>
        <locationX>2899</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_current_Product_Family_value</targetReference>
        </connector>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Auto_Number__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Product_record</name>
        <label>Update Product record</label>
        <locationX>2899</locationX>
        <locationY>1739</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_Auto_Number_Record</name>
        <label>update Auto Number Record</label>
        <locationX>2899</locationX>
        <locationY>1631</locationY>
        <connector>
            <targetReference>Product_record</targetReference>
        </connector>
        <inputReference>Auto_Number_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2773</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Auto_Number_Record</targetReference>
        </connector>
        <object>Product1__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>auto_number_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Auto_Number__c</objectType>
    </variables>
</Flow>
